In [1]:
import sys
import zipfile
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style("whitegrid")

sys.path.append("../src/")
from process_data import load_ride_data_zip, aggregate_daily_ride_data, create_ridership_dataframe
from process_data import read_weather_data, create_weather_situation

In [2]:
# zf = zipfile.ZipFile("../data/201801-capitalbikeshare-tripdata.zip") 
# file_name = zf.filelist[0].filename
# print(file_name)
# df = pd.read_csv(zf.open(file_name))

# df = load_ride_data_zip("../data/201801-capitalbikeshare-tripdata.zip")
# day_df = (
#         df
#         # .drop(columns=["start_lat", "start_lng", "end_lat", "end_lng"])
#         # .loc[lambda df: df["rideable_type"] != "docked_bike"]
#         .assign(
#             started_at = lambda df: pd.to_datetime(df["started_at"]),
#             day = lambda df: df["started_at"].dt.day,
#             month = lambda df: df["started_at"].dt.month,
#             year = lambda df: df["started_at"].dt.year,
#             classic_bike = lambda df: df["rideable_type"].eq("classic_bike").map(int),
#             electric_bike = lambda df: df["rideable_type"].eq("electric_bike").map(int),
#             docked_bike = lambda df: df["rideable_type"].eq("docked_bike").map(int),
#             member = lambda df: df["member_casual"].eq("member").map(int),
#             casual = lambda df: df["member_casual"].eq("casual").map(int)
#             )
#         .drop(columns=["ride_id", "rideable_type", "started_at", "ended_at", "start_station_name",
#                     "start_station_id", "end_station_name", "end_station_id", "member_casual"])
#         .groupby(["month", "day", "year"]).sum()
#         .assign(
#             total_rides = lambda df: df["classic_bike"] + df["electric_bike"] + df["docked_bike"],
#             # year = 2022,
#             month = lambda df: df.index.get_level_values(0),
#             day = lambda df: df.index.get_level_values(1),
#             year = lambda df: df.index.get_level_values(2),
#             date = lambda df: pd.to_datetime(df[["year", "month", "day"]]),
#         )
#         .reset_index(drop=True)
#         # .set_index("date")
#         .drop(columns=["year", "month", "day"])
#     )
# day_df

In [3]:
ride_df = create_ridership_dataframe("../data")
display(ride_df.info())
ride_df.sample(5)

201801_capitalbikeshare_tripdata.csv
201802-capitalbikeshare-tripdata.csv
201803-capitalbikeshare-tripdata.csv
201804-capitalbikeshare-tripdata.csv
201805-capitalbikeshare-tripdata.csv
201806-capitalbikeshare-tripdata.csv
201807-capitalbikeshare-tripdata.csv
201808-capitalbikeshare-tripdata.csv
201809-capitalbikeshare-tripdata.csv
201810-capitalbikeshare-tripdata.csv
201811-capitalbikeshare-tripdata.csv
201812-capitalbikeshare-tripdata.csv
201901-capitalbikeshare-tripdata.csv
201902-capitalbikeshare-tripdata.csv
201903-capitalbikeshare-tripdata.csv
201904-capitalbikeshare-tripdata.csv
201905-capitalbikeshare-tripdata.csv
201906-capitalbikeshare-tripdata.csv
201907-capitalbikeshare-tripdata.csv
201908-capitalbikeshare-tripdata.csv
201909-capitalbikeshare-tripdata.csv
201910-capitalbikeshare-tripdata.csv
201911-capitalbikeshare-tripdata.csv
201912-capitalbikeshare-tripdata.csv
202001-capitalbikeshare-tripdata.csv
202002-capitalbikeshare-tripdata.csv
202003-capitalbikeshare-tripdata.csv
202004-capitalbikeshare-tripdata.csv
202005-capitalbikeshare-tripdata.csv
202006-capitalbikeshare-tripdata.csv
202007-capitalbikeshare-tripdata.csv
202008-capitalbikeshare-tripdata.csv
202009-capitalbikeshare-tripdata.csv
202010-capitalbikeshare-tripdata.csv
202011-capitalbikeshare-tripdata.csv
202012-capitalbikeshare-tripdata.csv
202101-capitalbikeshare-tripdata.csv
202102-capitalbikeshare-tripdata.csv

/home/dan/MachineLearning/cabi-causal-analysis/notebooks/../src/process_data.py:79: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  df = aggregate_daily_ride_data(load_ride_data_zip(zip_path))

202103-capitalbikeshare-tripdata.csv
202104-capitalbikeshare-tripdata.csv
202105-capitalbikeshare-tripdata.csv
202106-capitalbikeshare-tripdata.csv
202107-capitalbikeshare-tripdata.csv
202108-capitalbikeshare-tripdata.csv
202109-capitalbikeshare-tripdata.csv
202110-capitalbikeshare-tripdata.csv
202111-capitalbikeshare-tripdata.csv
202112-capitalbikeshare-tripdata.csv
202201-capitalbikeshare-tripdata.csv
202202-capitalbikeshare-tripdata.csv
202203-capitalbikeshare-tripdata.csv
202204-capitalbikeshare-tripdata.csv
202205-capitalbikeshare-tripdata.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1616 entries, 0 to 1615
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   classic_bike   1616 non-null   int64
 1   electric_bike  1616 non-null   int64
 2   docked_bike    1616 non-null   int64
 3   member         1616 non-null   int64
 4   casual         1616 non-null   int64
 5   total_rides    1616 non-null   int64
 6   date           1616 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 88.5 KB

None

,classic_bike,electric_bike,docked_bike,member,casual,total_rides,date
1303,8147,1380,1092,5772,4847,10619,2021-07-23
635,13115,0,0,0,0,13115,2019-09-24
1059,0,1574,6230,4058,3746,7804,2020-11-21
888,0,0,6515,2862,3653,6515,2020-06-03
1022,0,1722,6188,4858,3052,7910,2020-10-15

In [4]:
file_path = "../data/USW00013743.csv"
wx_df = read_weather_data(file_path)
wx_df = wx_df.rename(columns={"DATE": "date"})
wx_df.sample(5)

/tmp/ipykernel_4598/3210473329.py:2: DtypeWarning: Columns (17,19,21,23,25,29,31,33,35,37,39,41,43,47,49,51,53,55,59,69,75,77,79,81,83,85,89,93,95,97,99) have mixed types.Specify dtype option on import or set low_memory=False.
  wx_df = read_weather_data(file_path)

,STATION,date,PRCP,SNOW,SNWD,TMAX,TMIN,AWND,TAVG,WSF2,...,WT12,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22
30679,USW00013743,2020-08-30,0.000,0.0,0.0,28.3,18.9,34.0,25.2,89.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30601,USW00013743,2020-06-13,0.000,0.0,0.0,26.7,18.3,45.0,23.3,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30921,USW00013743,2021-04-29,0.003,0.0,0.0,30.0,19.4,45.0,24.1,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29938,USW00013743,2018-08-20,0.000,0.0,0.0,27.8,21.7,42.0,24.3,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30829,USW00013743,2021-01-27,0.000,0.0,0.0,7.2,2.2,44.0,4.1,94.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
ride_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1616 entries, 0 to 1615
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   classic_bike   1616 non-null   int64
 1   electric_bike  1616 non-null   int64
 2   docked_bike    1616 non-null   int64
 3   member         1616 non-null   int64
 4   casual         1616 non-null   int64
 5   total_rides    1616 non-null   int64
 6   date           1616 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(6)
memory usage: 88.5 KB

In [6]:
merged_df = pd.merge(ride_df, wx_df, left_on="date", right_on="date", how="left")
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1616 entries, 0 to 1615
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   classic_bike   1616 non-null   int64
 1   electric_bike  1616 non-null   int64
 2   docked_bike    1616 non-null   int64
 3   member         1616 non-null   int64
 4   casual         1616 non-null   int64
 5   total_rides    1616 non-null   int64
 6   date           1616 non-null   datetime64[ns]
 7   STATION        1616 non-null   object
 8   PRCP           1616 non-null   float64
 9   SNOW           1616 non-null   float64
 10  SNWD           1616 non-null   float64
 11  TMAX           1616 non-null   float64
 12  TMIN           1616 non-null   float64
 13  AWND           1616 non-null   float64
 14  TAVG           1616 non-null   float64
 15  WSF2           1616 non-null   float64
 16  WSF5           1615 non-null   float64
 17  WT01           1616 non-null   float64
 18  WT02           1616 non-null   float64
 19  WT03           1616 non-null   float64
 20  WT04           1616 non-null   float64
 21  WT05           1616 non-null   float64
 22  WT06           1616 non-null   float64
 23  WT07           1616 non-null   float64
 24  WT08           1616 non-null   float64
 25  WT09           1616 non-null   float64
 26  WT10           1616 non-null   float64
 27  WT11           1616 non-null   float64
 28  WT12           1616 non-null   float64
 29  WT13           1616 non-null   float64
 30  WT14           1616 non-null   float64
 31  WT15           1616 non-null   float64
 32  WT16           1616 non-null   float64
 33  WT17           1616 non-null   float64
 34  WT18           1616 non-null   float64
 35  WT19           1616 non-null   float64
 36  WT21           1616 non-null   float64
 37  WT22           1616 non-null   float64
dtypes: datetime64[ns](1), float64(30), int64(6), object(1)
memory usage: 492.4+ KB